<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nie znaleziono zasobu</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 class="text-danger">Strona nie istnieje.</h1>
            <p>Spróbuj ponownie lub skontaktuj się z administratorem.</p>

        </LayoutView>
    </NotFound>
</Router>
