<div class="flex-column">
    <div class="card my-1" style="width: 18rem;">
        <img src="@Image" class="card-img-top" alt="@Title" />
        <div class="card-body">
            <h5 class="card-title">@Title</h5>
            <p class="card-text">@Content</p>
            <button @onclick="OnClickMore" class="btn btn-primary">@BtnText</button>
        </div>
    </div>
    <AdditionalInfo />
</div>