@page "/component"
<h3>Component</h3>

<CascadingValue Value="@_title" Name="Title">
     <CascadingValue Value="@_info" Name="Info">
        <Card 
            Image="/files/kowalski.png"
            BtnText="Więcej"
      
            OnClickMore="ClickMore"
        > 
            <Title>
                <B>Jan Kowalski</B>
            </Title>
            <Content>
                <p>
                    <u>Programista C#/.NET </u> z 20 letnim doświadczeniem.<br />
                    <u> Specjalizacje:</u>
                    <ul>
                        <li>Blazor</li>
                        <li>ASP .NET Core</li>
                    </ul>
                </p>
            </Content>
        </Card> 
    </CascadingValue>
</CascadingValue>

<div class="d-flex gap-2">
    @foreach(var item in _authors)
    {
        <Card
            Image="@item.Image"
            BtnText="@item.BtnText"
         >
        <Title>
            @item.Title
        </Title>
        <Content>
            @item.Content
        </Content>
        
    </Card>
    }
</div>