@page "/component"
<h3>Component</h3>

<CascadingValue Value="@_title" Name="Title">
     <CascadingValue Value="@_info" Name="Info">
        <Card 
            Image="/files/kowalski.png"
            BtnText="Więcej"
            Title="Jan Kowalski"
            Content="Programista C#/.NET z 20 letnim doświadczeniem.
            Specjalizacja : Blazor i ASP .NET Core "
            OnClickMore="ClickMore"
        > </Card> 
    </CascadingValue>
</CascadingValue>

<div class="d-flex gap-2">
    @foreach(var item in _authors)
    {
        <Card
            Image="@item.Image"
            BtnText="@item.BtnText"
            Title="@item.Title"
            Content="@item.Content"
        ></Card>
    }
</div>