@page "/counter"
@page "/counter-test"
@page "/counter-par/{header:int}/{isDeleted:bool?}"



<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<h2>Wartość paramteru : @Header</h2>

<h2>Wartość paramteru 2 [from query]: @Header2</h2>
 
<h2>IsDeleted : @IsDeleted</h2>
@if (!IsDeleted.HasValue)
{
    <p>NULL</p>
}
else if (IsDeleted.GetValueOrDefault())
{
    <p>TRUE</p>
}
else
{
    <p>FALSE</p>
}

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br/>

<button class="btn btn-primary  my-3" @onclick="ToggleActive">
    Przełącz tryb
</button>
@if(_isActive){
    <p class="text-light bg-success p-2">AKTYWNY</p>
}
else
{
    <p class="text-light bg-danger p-2" >NIEAKTYWNY</p>
}

<p class="text-light bg-info p-2">Ten produkt jest : @(_isActive ?"AKTYWNY!" :"NIEAKTYWNY!" )</p>

<p class="text-light @(_isActive ? "bg-success" : "bg-danger" ) p-2">Ten produkt jest : @(_isActive ? "AKTYWNY!" : "NIEAKTYWNY!")</p>


<Table>

</Table>


<button class="btn btn-primary my-3" @onclick="GoToIndex">Strona główna </button>

<h2>Studenci : </h2>
<ol>
    @foreach(var item in StudentRepo.Get())
    {
        <li>@item.Name</li>
    }
</ol>